// .pg {
//     display: flex;
//     height: 100%;
//     margin-right: 10rem;
//     max-width: 61.1rem;
//     margin-bottom: 2rem;
    

// }





.pg--card{
    background-color:#fff;
    width:600px;
    height:220px;
    display:flex;
    flex-wrap:wrap;
    box-shadow: 0px -2px 10px 5px rgba(0, 0, 0,0.2);
    margin-bottom: 10px;
    border-radius:10px;
    margin-left:10px;
    }
  
  .pg--image{
  max-width:30%;
    width:100%;
    // background-color:#129123;
    border-radius:10px
  }
  .pg--content{
    max-width:70%;
    width:100%;
    
  }
  .pg--property{
    max-width:35%;
    width:100%;
    margin:0;
    font-size:16px;
    color:#435323;
    padding-bottom:6px;
    padding-left:5px
  }
  .pg--value{
    max-width:60%;
    width:100%;
    margin:0;
  /*   margin-left:10px */
  }
  .pg--property-value{
    margin:10;
    display:flex;
    flex-wrap:wrap;
    }
  
  .pg--name{
    margin:0;
    display:flex;
    justify-content:center;
  }
  .pg--name--text{
    margin:    0;
    margin-top:10px;
    font-size: 20px;    
  }
  .pg--btn-class{
    display:flex;
    justify-content:space-around
  }
  